a {
  text-decoration: none;
}

#unit-links {
  color: #212529;
  position: relative;
  top: 27px;
}

#unit-links .active {
  color: #212529;
  cursor: default;
}

.today-temp {
  font-size: 40px;
  padding-top: 20px;
  text-align: center;
}
