p.today-date-time {
  margin: 0;
  padding: 0;
  text-align: center;
}

p:first-letter {
  text-transform: capitalize;
}

#current-time {
  margin-top: 0;
  text-align: center;
}

.city {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}
