.weather {
  background-color: aliceblue;
  border: 1px solid rgb(204, 210, 216);
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  min-width: 400px;
  margin: 20px auto;
  margin-bottom: 10px;
}

.weather a {
  text-decoration: none;
}

.weather div.col-3.day {
  padding: 0 5px;
}

.weather p.today-date-time {
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.weather p:first-letter {
  text-transform: capitalize;
}

.weather .city {
  display: block;
  font-size: 40px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.weather .forecast {
  background-color: rgb(253, 254, 255);
  border: 1px solid rgb(204, 210, 216);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.weather .forecast-icon {
  width: 75px;
}

.weather .forecast-max {
  font-weight: bold;
}

.weather .today-stats {
  display: block;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

.weather .today-temp {
  font-size: 40px;
  padding-top: 20px;
  text-align: center;
}

.weather #current-time {
  display: block;
  margin: 0 auto;
  margin-top: 0;
  text-align: center;
}

.weather #search-engine {
  padding: 5px;
}

.weather #unit-links {
  color: #212529;
  position: relative;
  top: 27px;
}
